
project/data/Gowalla_totalCheckins.txt
project/data/Gowalla_edges.txt
quotes_2008-09.txt
quotes_2008-09.txt.gz
project/data/json/30.txt
project/data/json/100.txt
project/data/json/40.txt
project/data/json/50.txt
project/data/json/70.txt
project/data/json/80.txt
project/data/json/90.txt
project/data/json/60.txt
